RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2F
REQUEST_EXCHANGE=telemetry.exchange
REQUEST_ROUTING_KEY=telemetry.parse
REQUEST_QUEUE=telemetry.parse
RESULTS_EXCHANGE=telemetry.exchange
RESULTS_ROUTING_KEY=telemetry.results
RESULTS_QUEUE=telemetry.results
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_SECURE=false
